/* HERO SECTION */

.hero-upper-line::before {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 0;
    width: 404px;
    height: 2px;
    background: #D4AA54;
}

.hero-lower-line::before {
    content: "";
    position: absolute;
    top: .75rem;
    width: 40%;
    height: 2px;
    background: #D4AA54;

}

.hero-lower-line {
    height: 2rem;
}

@media screen and (max-width: 768px) {
    .hero-upper-line::before {

        width: 202px;
    }
    
}

.hero:nth-child(1) {
    transition-delay: 800ms;
}

.hero:nth-child(2) {
    transition-delay: 1.2s;
}

/* HERO SECTION */


/* ABOUT JOURNEY SECTION */

.about-line::before {
    content: "";
    position: absolute;
    top: 1rem;
    left: 8rem;
    width: 40%;
    height: 2px;
    background: #D4AA54;
}

.img-line-top::before, 
.img-line-top::after {
    content: "";
    position: absolute;
    background: #D4AA54;
    
}

.img-line-top::before {
    width: 10rem;
    height: 2px;
    top: .5rem;
    right: 1rem;
    transform-origin: 100% 50%;
    transform: rotate(0deg);
}

.img-line-top::after {
    width: 2px;
    height: 10rem;
    top: .5rem;
    right: 1rem;
    transform-origin: 50% 100%;
    transform: rotate(0deg);
}

.hero-lower-line::before,
.hero-upper-line::before,
.about-line::before,
.img-line-bottom::before, 
.img-line-bottom::after, 
.img-line-top::before,
.img-line-top::after,
.service-line::before, 
.service-line::after,
.chef-service-line::before,
.chef-service-line::after,
.dining-line::before,
.dining-line::after {
    content: "";
    position: absolute;
    background: #D4AA54;
    box-shadow:
        1px 2px 2px hsl(0deg 0% 0% / 0.40),
        2px 4px 4px hsl(0deg 0% 0% / 0.40),
        4px 8px 8px hsl(0deg 0% 0% / 0.40),
        8px 16px 16px hsl(0deg 0% 0% / 0.40),
        16px 32px 32px hsl(0deg 0% 0% / 0.40);
}

.img-line-bottom::before {
    width: 10rem;
    height: 2px;
    bottom: .5rem;
    left: 1rem;
    transform-origin: 100% 50%;
    transform: rotate(0deg);
}

.img-line-bottom::after {
    width: 2px;
    height: 10rem;
    bottom: .5rem;
    left: 1rem;
    transform-origin: 50% 100%;
    transform: rotate(0deg);
}

.about:nth-child(2) {
    transition-delay: 200ms;
}

/* ABOUT JOURNEY SECTION */

/* OUR MENU SECTION */

.service-line::before {
    height: 2px;
    width: 10%;
    left: 25.5rem;
    top: 1rem;
}

.service-line::after {
    height: 2px;
    width: 10%;
    right: 25.25rem;
    top: 1rem;
}

@media screen and (max-width: 1399px) {
    .service-line::before {
        left: 20.5rem;
    }
    .service-line::after {
        right: 20.25rem;
    }
}

@media screen and (max-width: 1199px) {
    .service-line::before {
        left: 16rem;
    }
    .service-line::after {
        right: 16.25rem;
    }
}

@media screen and (max-width: 991px) {
    .service-line::before {
        left: 10rem;
    }
    .service-line::after {
        right: 10.25rem;
    }
}

@media screen and (max-width: 767px) {
    .service-line::before {
        left: 6rem;
    }
    .service-line::after {
        right: 6.25rem;
    }
}
@media screen and (max-width: 575px){
    .service-line::before {
        left: 4rem;
    }

    .service-line::after {
        right: 4.25rem;
    }
}

@media screen and (max-width: 414px) {
    .service-line::before {
        left: 3rem;
    }

    .service-line::after {
        right: 3rem;
    }
}

.rect-background::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 65vh;
    background: #122029;
    bottom: 0;
}

.menu:nth-child(2) {
    transition-delay: 200ms;
}

.menu:nth-child(3) {
    transition-delay: 400ms;
}

/* OUR MENU SECTION */

/* INFORMATION SECTION */

.dining-line::before,
.dining-line::after {
    width: 50%;
    height: 2px;
    left: 25%;
}

.dining-line::before {
    top: 0;

}

.dining-line::after {
    bottom: 0;
}

/* INFORMATION SECTION */

/* CHEF'S INFO SECTION */

.chef-info {
    background: #122029;

}

.chef-service-line::before,
.chef-service-line::after {
    width: 25%;
    height: 2px;
}

.chef-service-line::before {
    height: 2px;
    left: 25.5rem;
    top: 1rem;
}

.chef-service-line::after {
    height: 2px;
    right: 25.25rem;
    top: 1rem;
}

@media screen and (max-width: 1399px) {
    .chef-service-line::before {
        left: 20.5rem;
    }
    .chef-service-line::after {
        right: 20.25rem;
    }
}

@media screen and (max-width: 1199px) {
    .chef-service-line::before {
        left: 18rem;
    }
    .chef-service-line::after {
        right: 18.25rem;
    }
}

@media screen and (max-width: 991px) {
    .chef-service-line::before {
        left: 5rem;
    }
    .chef-service-line::after {
        right: 5.25rem;
    }
}

@media screen and (max-width: 767px) {
    .chef-service-line::before {
        left: 2rem;
    }
    .chef-service-line::after {
        right: 2.25rem;
    }
}
@media screen and (max-width: 575px){
    .chef-service-line::before {
        left: 1rem;
    }

    .chef-service-line::after {
        right: 1.25rem;
    }
}

@media screen and (max-width: 414px) {
    .chef-service-line::before {
        left: -0.5rem;
    }

    .chef-service-line::after {
        right: -0.5rem;
    }
}

/* CHEF'S INFO SECTION */

.fa-regular {
    color: #D4AA54;
    filter: drop-shadow(
        3.4px 6.7px 6.7px hsl(0deg 0% 0% / 0.40)
      );
}

.chef-section:nth-child(2) {
    transition-delay: 200ms;
}

.chef-section:nth-child(3) {
    transition-delay: 400ms;
}