body {
    overflow-x: hidden;
}

.cursive-font{
    font: 2rem Luxurious Script, cursive;
}

.offer-bg {
    height: 42.5rem;
    background-image: url("../imgs/offer-bg.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: bottom; 
    background-color: #5f5f5f;
    background-blend-mode: overlay;
}

.offer-section {
    height: 42.5rem;
    background-image: url("../imgs/what-we-offer.png");
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: top;
}    



.menu-service-line::before,
.menu-service-line::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 2px;
    top: 1.5rem;
    background: #D4AA54;
    box-shadow: var(--shadow-elevation-high);
}

.menu-service-line::before {
    height: 2px;
    left: 20rem;
}

.menu-service-line::after {
    height: 2px;
    right: 20.5rem;
}

@media screen and (max-width: 1399px) {
    .menu-service-line::before {
        left: 16rem;
    }
    .menu-service-line::after {
        right: 16.5rem;
    }
}
@media screen and (max-width: 1199px) {
    .menu-service-line::before {
        left: 12rem;
    }
    .menu-service-line::after {
        right: 12rem;
    }
}
@media screen and (max-width: 993px) {
    .menu-service-line::before {
        left: 7rem;
    }
    .menu-service-line::after {
        right: 7rem;
    }
}
@media screen and (max-width: 767px) {
    .menu-service-line::before {
        top: 1.125rem;
        left: 3.825rem;
    }
    .menu-service-line::after {
        top: 1.125rem;
        right: 3.825rem;
    }
}@media screen and (max-width: 575px){
    .menu-service-line::before {
        left: 2rem;
    }

    .menu-service-line::after  {
        right: 2rem;
    }
}@media screen and (max-width: 414px) {
    .menu-service-line::before {
        left: 1rem;
    }

    .menu-service-line::after  {
        right: 1.5rem;
    }
}

/* Line in 2nd title */
.menuSub-service-line::before,
.menuSub-service-line::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 2px;
    top: 1.3125rem;
    background: #D4AA54;
    box-shadow: var(--shadow-elevation-high);
}

.menuSub-service-line::before {
    height: 2px;
    left: 12rem;
}

.menuSub-service-line::after {
    height: 2px;
    right: 12rem;
}
@media screen and (max-width: 1399px) {
    .menuSub-service-line::before {
        left: 10rem;
    }
    .menuSub-service-line::after {
        right: 10rem;
    }
}
@media screen and (max-width: 1199px) {
    .menuSub-service-line::before {
        left: 8rem;
    }
    .menuSub-service-line::after {
        right: 8rem;
    }
}
@media screen and (max-width: 993px) {
    .menuSub-service-line::before {
        left: 10rem;
    }
    .menuSub-service-line::after {
        right: 10rem;
    }
}
@media screen and (max-width: 767px) {
    .menuSub-service-line::before {
        left: 7rem;
    }
    .menuSub-service-line::after {
        right: 7rem;
    }
}@media screen and (max-width: 575px){
    .menuSub-service-line::before {
        left: 5.25rem;
    }

    .menuSub-service-line::after  {
        right: 5.25rem;
    }
}@media screen and (max-width: 414px) {
    .menuSub-service-line::before {
        left: 2.825rem;
    }

    .menuSub-service-line::after  {
        right: 2.825rem;
    }
}

/* Line in 2nd title */
.menuSubLG-service-line::before,
.menuSubLG-service-line::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 2px;
    top: 1.5rem;
    background: #D4AA54;
    box-shadow: var(--shadow-elevation-high);
}

.menuSubLG-service-line::before {
    height: 2px;
    left: 12rem;
}

.menuSubLG-service-line::after {
    height: 2px;
    right: 12rem;
}
@media screen and (max-width: 1399px) {
    .menuSubLG-service-line::before {
        left: 7rem;
    }
    .menuSubLG-service-line::after {
        right: 7rem;
    }
}
@media screen and (max-width: 1199px) {
    .menuSubLG-service-line::before {
        left: 7rem;
    }
    .menuSubLG-service-line::after {
        right: 7rem;
    }
}
@media screen and (max-width: 993px) {
    .menuSubLG-service-line::before {
        left: 8rem;
    }
    .menuSubLG-service-line::after {
        right: 8rem;
    }
}
@media screen and (max-width: 767px) {
    .menuSubLG-service-line::before {
        left: 4rem;
    }
    .menuSubLG-service-line::after {
        right: 4rem;
    }
}@media screen and (max-width: 575px){
    .menuSubLG-service-line::before {
        left: 2.825rem;
    }

    .menuSubLG-service-line::after  {
        right: 2.825rem;
    }
}@media screen and (max-width: 414px) {
    .menuSubLG-service-line::before {
        left: 0rem;
    }

    .menuSubLG-service-line::after  {
        right: 0rem;
    }
}


/* Double Lines */
.list-service-line {
    position: relative; 
}

.list-service-line::before,
.list-service-line::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: #D4AA54;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    box-shadow: var(--shadow-elevation-high)
}

 .list-service-line::before {
    top: 0.85rem;
    
}

.list-service-line::after {

    top: 1.25rem;
}

.true-taste-bg {
    height: 42.5rem;
    background-image: url("../imgs/true-taste-bg.png");
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: bottom; 
    background-color: #5f5f5f;
    background-blend-mode: overlay;
}

.true-taste-section {
    height: 60rem;
    background-image: url("../imgs/true-taste.png");
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: top;
}        

 .no-gutters > [class^="col-"] {
        padding-right: 0;
        padding-left: 0;
    }

.menu-header {
    font-size: 1.825rem;
}
    
.menu-item:nth-child(2) {
    transition-delay: 100ms;
}

.menu-item:nth-child(3) {
    transition-delay: 200ms;
}

.menu-item:nth-child(4) {
    transition-delay: 300ms;
}

.menu-item:nth-child(5) {
    transition-delay: 400ms;
}

.menu-item:nth-child(6) {
    transition-delay: 500ms;
}

.menu-item:nth-child(7) {
    transition-delay: 600ms;
}