.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem auto -1rem -1rem;
}

.reservation-form-header {
    font-size: 1.825rem;
}

.reservation-form-content {
    font-size: 1.125rem;
}

.reservation-line {
    position: absolute;
    right: 0;
    top: 0rem;
    height: 100vh;
}

@media screen and (max-width: 767px) {
    .reservation-line {
        display: none;
    }
    
}