body {
    font-family: 'Mulish', sans-serif;
    background: #0B1315;
    color: #FFFBFF;
}

/* PAGE CONTENT */

.content {
    position: relative;
}

.text, .text-content {
    font-size: 1.25rem;
}

.text-content {
    text-align: justify;
}

/* PAGE CONTENT */

/* RESERVATION SECTION */

.reservation-section {
    background-image: url("../imgs/tables.jpg");
    object-fit: contain;
    background-position: 40% 80%;
    height: 23.75rem;
    background-color: #262626;
    background-blend-mode: overlay;
}

/* RESERVATION SECTION */